.main__container_excluvisa{
    display: flex;
    height: 158px;
    justify-content: space-between;
    border-radius: 40px 8px;
    background-color: #2a8bfe;
}
.main__container_excluvisa__text{
    color: white;
    margin: auto 50px;
    width: 68%;
}
.main__container_excluvisa__text__h1>h1{
    font-family: Qanelas;
    font-weight: bold;
    font-size: 32px;
}
.main__container_excluvisa__text__p>p{
    font-weight:400;
    font-size: 20px;
}
.main__container_excluvisa__img{
    width: 336px;
    background-color: #E2E6E9;
    border-radius: 40px 0 0 0;
}

.main__container_excluvisa__img>img{
    border-radius: 48px 0 0 0;
    width: 100%;
    height: 100%;
}
.btnStyleBannerHotelsResult{
    width: 224px;
    height: 48px;
    position: absolute;
    left: 60%;
    bottom: 35%;
    color: #FFFFFF;
    background-color: #0d4e88;
    font-size: 16xp;
    font-weight: bold;
    border-radius: 40px
}
.btnStyleBannerHotelsResult:hover{
  background-color: #283747;
}
.btnStyleBannerHotelsResult:active{
    background-color:#272626;
};
