.main__container_excluvisa {
    display: flex;
    height: 158px;
    justify-content: space-between;
    border-radius: 40px 8px;
    background-color: #2a8bfe;
    position: relative;
    margin-bottom: 30px;
}

.main__container_excluvisa__text {
    color: white;
    margin: auto 64px;
    width: 36%;
}

.main__container_excluvisa__text__h1>h1 {
    font-family: Qanelas;
    font-weight: bold;
    font-size: 32px;
}

.main__container_excluvisa__text__p>p {
    font-weight: 400;
    font-size: 20px;
}

.main__container_excluvisa__img {
    width: 336px;
    background-color: #E2E6E9;
    border-radius: 40px 8px;
    overflow: hidden;
}

.main__container_excluvisa__img>img {
    border-radius: 48px 0 0 0;
    width: 100%;
    height: 100%;
}

.btnStyleBannerHotelsResult {
    width: 224px;
    height: 48px;
    position: absolute;
    right: inherit;
    right: 223px;
    bottom: 50px;
    color: #FFFFFF;
    background-color: #0d4e88;
    font-size: 16xp;
    font-weight: bold;
    border-radius: 40px
}

.btnStyleBannerHotelsResult:hover {
    background-color: #283747;
}

.btnStyleBannerHotelsResult:active {
    background-color: #272626;
}

@media(max-width: 767px) {
    .main__container_excluvisa {
        flex-direction: column;
        border-radius: 8px 8px 40px 8px;
        min-height:  232px
    }

    .main__container_excluvisa__text {
        width: 100%;
        padding: 17px;
        margin: 0;
    }

    .main__container_excluvisa__text__h1>h1 {
        font-size: 24px;
    }

    .main__container_excluvisa__text__p>p {
        font-size: 16px;
    }

    .main__container_excluvisa__img {
        width: 100%;
        border-radius: 0 0 40px 8px;
    }

    .btnStyleBannerHotelsResult {
        left: 18px;
        bottom: 29%;
    }
}
@media(min-width: 768px) and (max-width:1023px){
    .btnStyleBannerHotelsResult {
        left: 46%;
    }

    .main__container_excluvisa__text__h1>h1 {
        font-size: 24px;
    }

    .main__container_excluvisa__text__p>p {
        font-size: 16px;
    }
}