.main__seccion__pagos {
    display: flex;
    flex-direction: row-reverse;
    background: antiquewhite;
    justify-content: space-evenly;
    align-items: center;
    padding: 8px 32px;
}

.btnStyleBannerSearch {
    width: 217px;
    height: 35px;
    border-radius: 12px;
    background: #0d4e88;
    color: white;
}

.main__seccion__pagos__img {
    width: 273px;
    height: 225px;
}

.main__seccion__pagos__img>img {
    width: 100%;
    height: 100%;
}
.main__seccion__pagos__text{
    text-align: center;
}

.main__seccion__pagos__text>h2 {
    font-size: 24px;
    font-weight: 500;
    text-align: left;
}

.main__seccion__pagos__text>p {
    font-size: 16px;
    text-align: left;
}

.divSeccionPagos {
    width: 560px;
    padding: 8px;
    background: aqua;
    border-radius: 8px;
}