.main__container__widget {
    display: flex;
    align-items: center;
    width: 114px;
    height: 28px;
    background: #2A8BFE;
    border-radius: 40px;
    border: 0;
    justify-content: center;
    gap: 5px;
}
.main__container__widget:hover {
    background-color: #1169B7;
}

.main__container__widget:active {
    background-color: #0d4e88;
}

.agentWidget {
    font-size: 20px;
    background: transparent;
    color: #FFFFFF;
}

.main__container__widget_text {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

/* ***** Container Modal *** */
.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 9999;
}

.container__modal {
    max-width: 90%;
    min-height: 100px;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
}

.emcabezadoModal {
    background-color: rgba(12, 125, 226, 1);
    padding: 12px 24px;
    position: relative;
}

.emcabezadoModal>h3 {
    font-weight: 600;
    line-height: 29px;

    color: #FFFFFF;
}

/* BOTON CLOSE */
.close-button {
    width: 26px;
    height: 26px;
    background: #F9F9F9;
    border: none;
    cursor: pointer;
    position: absolute;
    overflow: hidden;
    padding: 0;
    top: 16px;
    right: 13px;
    border-radius: 100%;
    font-weight: 800;
}

.close-button:hover {
    background-color: #e1e1e1;
}

.close-button:active {
    background-color: #969696;
    ;
}

/* MODAL */
.main__container__modalContactos {
    position: relative;
    display: flex;
    padding: 16px;
    background-color: rgba(244, 244, 244, 1);
    margin: 8px 8px;
    border-radius: 8px;
    height: 180px;
    max-width: 330px;
    gap: 12px;

}

.ventas {
    font-weight: 500;
    font-size: 17px;
    line-height: 19px;
    margin-bottom: 8px;
}

.ventas>span {
    font-weight: 700;
}

.horario {
    font-weight: 600;
    font-size: 14px;
    line-height: 15px;
    margin-bottom: 8px;
}

.dias {
    font-weight: 600;
    font-size: 14px;
    line-height: 15px;
    margin-bottom: 8px;
}

.modalContactos__telephone_span {
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: -0.03em;
    color: #8C8C8C;
}

.glyphicon-phone,
.glyphicon-whatsapp-bottomless {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    color: white;
    padding: 16px;
}

.btn_Style_Venta_llamar:hover {
    background-color: #283747;
}

.btn_Style_Venta_llamar:active {
    background-color: rgba(39, 38, 38, 1);
}

.btn_Style_Venta_Contactarme:hover {
    background-color: #00a94f;
}

.btn_Style_Venta_Contactarme:active {
    background-color: rgba(1, 119, 56, 1);
    ;
}

.row-modal {
    display: flex;
    align-items: center;
    margin: 8px;
    gap: 12px;
}

.btn_Style_Venta_llamar,
.btn_Style_Venta_Contactarme {
    position: absolute;
    bottom: 8px;
    width: 90%;
    height: 37px;
    border-radius: 12px;
    border: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #F3F3F3;
}

.btn_Style_Venta_llamar,
.glyphicon-phone {
    background: #0D4E88;
}

.btn_Style_Venta_Contactarme,
.glyphicon-whatsapp-bottomless {
    background: rgba(38, 189, 76, 1);
}

.blue {
    color: rgba(14, 65, 104, 1);
}

.green {
    color: rgba(38, 189, 76, 1);

}

.upper-menu__phone-wrapper {
    display: none;
}

.close-button>span {
    position: initial;
}

@media (max-width:767px) {
    .main__container__widget {
        background-color: #00a94f;
    }

    .row-modal {
        flex-direction: column;
    }

    .main__container__widget {
        width: 80px;
        height: 24px;
        background: #248DEA;
        border: 1px solid #FFFFFF;
        border-radius: 20px;
    }

    .main__container__widget_text {
        display: none;
    }

    .close-button>span {
        position: absolute;
        top: -12px;
        right: 9px;
    }

    .emcabezadoModal>h3 {
        font-weight: 600;
        line-height: 29px;
        color: #FFFFFF;
        letter-spacing: 0.4px;
        font-size: 16px;
    }

    .ventas {
        font-size: 14px;
    }

    .main__container__modalContactos {
        height: 195px;
        min-width: 261px;

    }

}

/* CLASES MODAL SHARE HOTELS */
.main__container__widget__share {
    border: 0;
    background-color: transparent;
}

.shareStyle {
    width: 400px;
    height: 254px;
}

.emcabezadoModalShare {
    height: 56px;
}

.modal__iconShare {
    width: 72px;
    height: 72px;

}

.modal__iconShare>.glyphicon {
    font-size: 72px;
}

.row-modal-icons-arriba {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 73px;
    align-content: stretch;
    text-align: center;
}

.row-modal-icons-abajo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 67px;
}

.row-modal-share {
    display: flex;
    align-items: center;
    margin: 8px;
    gap: 12px;
    flex-direction: column;

}
.container-fluid{
    display: flex;
}

.container-fluid-modal {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.main_container__buttonARSEs{
    display: flex;
}
/* **** */

.btn_login-button{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 109px !important;
    height: 28px !important;
    color: #0D4E88 !important;
}

.btn_login-button:active{
    background-color:#283747 !important;
    color: white !important;
    border: 1px solid !important;
    border-radius: 40px !important;
}

.btn_login-button:hover{
    background-color:#283747 !important;
    border: 1px solid !important;
    border-radius: 40px !important;
    color: white !important;
}