.main__container__widget {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 204px;
    height: 28px;
    background: #2A8BFE;
    border-radius: 40px;
    border: 0;
}

.main__container__widget:hover {
    background-color: #1169B7;
}

.main__container__widget:active {
    background-color: #0d4e88;
}

.agentWidget {
    font-size: 20px;
    background: transparent;
    color: #FFFFFF;
}

.main__container__widget_text {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

/* ***** MODAL *** */
.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 9999;
}

.container__modal {
    width: 500px;
    min-height: 100px;
    background: #fff;
    position: relative;
    border-radius: 8px;
    padding: 20px;
}

.emcabezadoModal {
    background-color: rgba(12, 125, 226, 1);
}

.emcabezadoModal>h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;

    color: #FFFFFF;
}