.main__container__widget {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 204px;
    height: 28px;
    background: #2A8BFE;
    border-radius: 40px;
    border: 0;
}

.main__container__widget:hover {
    background-color: #1169B7;
}

.main__container__widget:active {
    background-color: #0d4e88;
}

.agentWidget {
    font-size: 20px;
    background: transparent;
    color: #FFFFFF;
}

.main__container__widget_text {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

/* ***** Container Modal *** */
.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 9999;
}

.container__modal {
    min-height: 100px;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
}

.emcabezadoModal {
    background-color: rgba(12, 125, 226, 1);
    padding: 12px 24px;
    position: relative;
}

.emcabezadoModal>h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;

    color: #FFFFFF;
}

.closeModal {
    position: absolute;
    right: 20px;
    top: 14px;
    width: 26px;
    height: 26px;
    background: #F9F9F9;
    border-radius: 100%;
    text-align: center;
    padding: 5px;
    font-size: 13px;
}

/* MODAL */
.main__container__modalContactos {
    position: relative;
    display: flex;
    padding: 16px;
    background-color: rgba(244, 244, 244, 1);
    margin: 8px 8px;
    border-radius: 8px;
    height: 180px;
    width: 330px;
    gap: 12px;

}

.ventas {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 8px;
}

.ventas>span {
    font-weight: 700;
}

.horario {
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 4px;
}

.dias {
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 4px;
}

.modalContactos__telephone_span {
    font-style: italic;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: -0.03em;
    color: #8C8C8C;
}

.glyphicon-phone,
.glyphicon-whatsapp-bottomless{
    width: 49px;
    height: 32px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    color: white;
}
.row-modal {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn_Style_Venta_llamar,
.btn_Style_Venta_Contactarme {
    position: absolute;
    bottom: 16px;
    width: 298px;
    height: 37px;
    border-radius: 12px;
    border: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #F3F3F3;
}
.btn_Style_Venta_llamar{
    background: #0D4E88;
}
.btn_Style_Venta_Contactarme{
    background: rgba(38, 189, 76, 1);
    ;
}
.blue{
    color: rgba(14, 65, 104, 1);
}
.green{
    color: rgba(38, 189, 76, 1);

}