.result{
    border-radius: 8px;
    border: 1px solid rgba(204, 204, 204, 0.80);
    background: #FBFBFB !important;
}
.result-option--selected{
    border-radius: 0px 0px 8px 8px;
    border: 1px solid #E4E4E4;
    background: #F3F3F3 !important;
}