.results-list__package .result {
    border-radius: 8px;
    border: 1px solid rgba(204, 204, 204, 0.80);
    background: #FBFBFB !important;
}

.results-list__package .result-option--selected {
    border-radius: 0px 0px 8px 8px;
    border: 1px solid #E4E4E4;
    background: #F3F3F3 !important;
}

.results-list__package .result-option-package__moreinfo-toggle {
    border-radius: 4px;
    background: #1585E6;
    color: white;
}

.results-list__package .result-option-package__moreinfo-toggle .glyphicon-menu-down,
.results-list__package .result-option-package__moreinfo-toggle .glyphicon-menu-up {
    color: white;
}

.results-list__package .package-result--master .result__options,
.results-list__package .result-option--extended {
    border-radius: 8px 8px 0 0;
}

.results-list__package .result-option:nth-child(even) {
    border-radius: 0 0 8px 8px;
}

.results-list__package .result-option__remove-button,
.results-list__package .result-option__change-button {
    border-radius: 4px;
    border: 1px solid #0F5EA3;
    background: none;
    color: #0F5EA3;
    font-size: 14px;
    font-family: Qanelas Soft;
    font-weight: 600;
}

.results-list__package .result-option__product-gallery .gallery__canvas {
    border-radius: 8px;
    border: 1px solid rgba(204, 204, 204, 0.80);
    background: #F3F3F3;
    padding: 1rem;
}

.results-list__package .info-card__image-holder img {
    border-radius: 8px;
    width: 100%;
}

.results-list__package .result-option__product-gallery .gallery__image-wrapper img {
    height: 100%;
}

.results-list__package .result-option__product-gallery .gallery__image-wrapper img,
.results-list__package .result-option__product-gallery .gallery__thumb-item img,
.results-list__package .result-option__product-gallery .gallery__more-images {
    border-radius: 8px;
}

.results-list__package .result-option__product-gallery .gallery__message {
    margin-top: 1rem;
    border-radius: 8px;
}

.results-list__package .result-option-package__row .result-option-package__item {
    margin-bottom: .8rem;
}

.results-list__package .result-option__product-description>.info-card__content {
    background-color: #F3F3F3;
}

.results-list__package .result-option__book-button {
    width: 193px;
    height: 38px;
    border-radius: 4px;
    background: #1585E6;
    border: #1585E6;
    margin-top: 1rem;
}

.results-list__package .info-card__price {
    width: 31%;
    margin-top: 1rem;
}

.results-list__package .info-card__content a {
    border-radius: 4px;
    border: 1px solid #0F5EA3;
    background: none;
    color: #0F5EA3;
    font-size: 14px;
    font-family: Qanelas Soft;
    font-weight: 600;
}

.results-list__package .your-selection__message {
    border-radius: 8px;
    border: 1px solid #9AD0FF;
    background: #EAF4FC;
    color: #0D3C61;
    font-size: 13.918px;
    font-weight: 500;
}

.your-selection__message::before,
.your-selection__message::after {
    display: none;
}

.results-list__package .result-option-package__row .result-option-package__booking {
    top: 16px;
}

/* Estilos para la ventana modal */
.modal {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}


@media (max-width: 767px) {
    #packages .info-card__price {
        width: 100%;
        float: right;
    }

    .results-list__package .result__bottom-price .bestprice {
        float: right !important;
    }

    .results-list__package .result-option__book-button {
        width: 90%;
        margin: 1rem;
    }

    .results-list__package .result__bottom-price .info-card__price {
        width: 100%;
        margin: 0 !important;
    }

    .results-list__package .result-option__change-button {
        width: 100%;
        position: inherit !important;
    }
    .results-list__package .result-option-package__row .result-option-package__booking{
        width: 100%;
        position: initial;
    }

}