.custom-img {
  width: 64px;
  height: 80px;
  border-radius: 4px;
  float: left;
  margin-right: 16px;
}

.custom-content {
  overflow: hidden;
}

.custom-content h2 {
  margin-top: 0;
  font-size: 20px;
  font-weight: bold;
}

.custom-content p {
  font-size: 12px;
  margin-bottom: 0;
}
.main__conteiner__s2{
  background-color: #DAF0FF;
}

@media(max-width:767px){
  .toastify{
    max-width: calc(100% - 20px);
    height: 131px !important;
    bottom: 0 !important;
  }
  .custom-img{
    display: none;
  }
  .custom-content h2 {
    font-size: 18px;
  }
}