#main-content>div>article>section.details-content>div.details-card__top>div>div.details-card__product>button.btn.btn-outline-secondary.action-item--favorites.ready {
    display: none;
}

#main-content>div>article>section.details-content>div.details-card__top>div>div.details-card__product>button.btn.btn-outline-secondary.action-item--share.ready.js-social-share {
    display: none;
}

#main-content>div>article>section.details-content>div.details-card__top>div {
    position: relative;
}

#main-content>div>article>section.details-content>div.details-card__top>div {
    margin-bottom: 35px !important;
}

#hotelResult {
    top: 70px;
    left: 0;
}

.main__container__share {
    top: -43px;
    left: 83%;
}

#main-content>div>article>section.details-content>div.details-card__top>div>div.details-card__price>div>button {
    width: 109px;
    height: 37px;
    color: #0D4E88;
    font-size: 13px;
    font-weight: 500;
    line-height: 18.57px;
    word-wrap: break-word;
    border-radius: 8px;
    border: 1px solid #0D4E88;
    background: #F8F9FA;
    padding: 0 !important;
}

@media(max-width:767px) {
    #main-content>div>article>section.details-content>div.details-card__top>div>div.details-card__price>div {
        display: flex;
        justify-content: space-between;
    }

    #main-content>div>article>section.details-content>div.details-card__top>div>div.details-card__product>div {
        margin-bottom: 51px;
    }

    #main-content>div>article>section.details-content>div.details-card__top>div>div.details-card__product>div>span,
    #main-content>div>article>section.details-content>div.details-card__top>div>div.details-card__price>div>button  {
        display: inline-block !important;
    }
}