.main-header #upper-menu .btn-toolbar > .btn{
    width: 109px;
    height: 28px;
    background-color: #0D4E88;
    border-radius: 40px;
    border: 1px solid;
    color: white;
}

.main-header #upper-menu .btn-toolbar > .btn:hover{
    background-color:#283747;
}