.results-list__view-selector.js-view-selector-placeholder .view-selector div:nth-child(3) {
  display: none;
}

.results-list__order-by-label {
  color: black !important;
  font-weight: bold !important;
}

.select2.select2-container.select2-container--default .select2-selection {
  border-radius: 8px;
  border: 1px solid;
}

@media (max-width: 767px) {
  .whatsAppFixes {
    display: none;
  }

  .view-selector {
    display: none;
  }

  .results-list__filter-toggle-wrapper {
    display: none;
  }

  .results-list__order-by {
    width: 100%;
    border-radius: 8px;
  }

  .results-list__order-by-label {
    display: block;
  }
}

/* BOTONES FILTER / MAP */

.main__container__newsBottons {
  width: 310px;
  height: 34px;
  display: flex;
  position: fixed;
  bottom: 39px;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  background: #0D4E88;
  border: 1px solid #F3F3F3;
  border-radius: 200px;
  color: #F3F3F3;
}

.main__container__newsBottons p {
  margin: 0;
}

.botton__map,
.botton__filter {
  display: flex;
  align-items: center;
}