#mce-EMAIL {
    width: 351px;
    padding: 18px 0px 18px 18px;
    align-items: center;
    gap: 6px;
    border-radius: 32px;
    border: 1px solid var(--grey-scale-grey-200, #CACACA);
    background: #FFF;
}

#mc-embedded-subscribe {
    width: 159px;
    height: 60px;
    padding: 18px 24px;
    border-radius: 32px;
    border: 1px solid #FFF;
    background: var(--primary-blue-dark-usafa, #00325D);
    color: #fff;
}

#mc_embed_signup_scroll {
    display: flex;
    gap: 8px;
    align-items: center;
}

.newsletter__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 40px;
}
.fix-margin>.newsletter__container{
    display: flex !important;
    height: 276px;
    background-color: #00325D !important;
    border-radius: 48px 48px 0 0;
}
#main-content > div > div{
    margin-bottom: 0 !important;
}

.main__container__newsletter__text>h2 {
    color: var(--grey-scale-white, #F9F9F9);
    font-family: Nunito;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: -0.32px;
}

.main__container__newsletter__text>p {
    color: var(--grey-scale-grey-100, #DFDFDF);
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.18px;
}

@media (max-width: 767px){
    .fix-margin>.newsletter__container,
    #mc_embed_signup_scroll{
        flex-direction: column;
    }
}