.main__conteiner-principal {
    margin: 45px auto;
}

.main__container__bodyLading {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    position: relative;
    max-width: 834px;
    min-height: 243px;
    border-radius: 16px;
    overflow: hidden;
}

.main__container__bodyLading__button {
    position: absolute;
}

.main__container__bodyLading__image {
    max-width: 834px;
    min-height: 243px;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
}

.main__container__bodyLading__text>h1 {
    color: #040000;
    font-size: 100px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
}

.main__container__bodyLading__text>h4 {
    color: #040000;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
}

.main__container__buttonsCars {
    position: inherit;
}

.main__container__bodyLading__text__button {
    position: absolute;
    bottom: 26px;
    left: 25%;
}

@media (max-width: 767px) {

    .main__container__bodyLading,
    .main__container__buttonsCars {
        flex-direction: column;
    }

    .main__container__bodyLading__text__button {
        width: 91%;
        margin: auto;
        left: inherit;
    }
}