/*to hide arrow buttons of the sections*/
.carrusel__anterior.btnLeft, .carrusel__anterior.btnLeft2, .carrusel__anterior.btnLeft3, .btnRight, .btnRight2, .btnRight3 {
    display: none;
}




/*To hide the last two elements of the section and adjust width*/
.glider-track > *:nth-last-child(-n+2) {
    display: none;
}


@media (min-width: 768px) { /* Adjust this breakpoint as needed */
    .glider-track  {
        max-width: 100%!important;
    }
}
