.result.hotel-result{
    height: 100%;

}
.info-card{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.info-card__image--action{
    width: 100%;
    border-radius: 8px 8px 8px 40px;
}
.info-card__image-holder{
    width: 100%;
    border-radius: 8px 8px 8px 40px;
}
.info-card__image-holder>img{
    width: 100%;
}
.info-card__content{
    position: relative;
}
.info-card__price{
    position: absolute !important;
    width: 119px;
}
.main__container__share{
    top: -34px;
    right: 12px;
}
.btn.btn-outline-secondary.btn-small.info-card__action-item.info-card__action-item--share.js-social-share{
    display: block !important;
    position: absolute;
    bottom: 49px;
    left: 22px;
}